# Built outputs (except APK debug)
/build/
/app/build/
!/app/build/outputs/apk/debug/app-debug.apk
/buildSrc/

# Gradle
.gradle/
local.properties
gradle-app.setting

# IDE
.idea/
*.iml
*.iws
*.ipr

# OneDrive
~$*

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# opencode
opencode

# Fichiers hors sujet
NewUrlApi.txt
Projet Android - SenAnnonces__.pdf
